{
  "version": 4,
  "rules": [
    {
      "domain_suffix": [
        "customer.example"
      ]
    },
    {
      "process_name": [
        "CustomerApp"
      ]
    },
    {
      "process_path_regex": [
        "^/Applications/CustomerApp\\.app/Contents/.*"
      ]
    }
  ]
}
